body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Press Start 2P',
        cursive;
    color: #444;
    margin-top: 20px;
}

/* סגנון הכללי של הכפתורים */
button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #5f5f5f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 15px;
}

/* סגנון כשעובר על הכפתור עם העכבר */
button:hover {
    background-color: #5902bb;
    /* צבע כהה יותר כשהעכבר מעל */
    transform: translateY(-3px);
    /* הזזה קלה כלפי מעלה להרגשה של לחיצה */
}

/* סגנון כשיש לחיצה על הכפתור */
button:active {
    background-color: #3c0059;
    /* צבע כהה עוד יותר בזמן הלחיצה */
    transform: translateY(1.5px);
    /* תזוזה קלה כלפי מטה להרגשה של לחיצה */
}

/* סגנון תיבת התוצאה */
#theWinner {
    font-size: 24px;
    color: #444;
    margin-top: 50px;
    font-weight: bold;
}

/* סגנון הציונים */
.scores p {
    font-size: 18px;
    color: #333;
}

.buttons {
    margin-top: 30px;
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
    cursor: not-allowed;
    background-color: #b0c4de;
    transform: none;
}